.main{
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.inner{
    display: flex;
    border: 2px solid black;

}

.row{
    display: inline-block;
}

.b-box{
    height: 60px;
    width: 60px;
    background-color: black;
}

.w-box{
    height: 60px;
    width: 60px;
    background-color: white;
}